div.game-board {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.hint-container {
  /* position: absolute;
  bottom: 20px;
  left: 0; */
  width: 100%;
  text-align: center;
}

div.hint-container p {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}