div.letter-bank {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 75px;
}

div.letter-tile {
  color: #ffffff;
  font-size: 100%;
  background: #82b7bd;
  padding: 0 5px;
  text-align: center;
  align-self: center;
  width: 6%;
  height: 30px;
  padding-top: 25px;
  margin: 0 5px 5px;
  border-radius: 10px;
  cursor: pointer;
}

div.letter-tile.used {
  background: rgba(130, 183, 189, 0.25);
  pointer-events: none;
}

div.letter-tile.incorrect {
  background: rgba(216, 89, 89, 0.25);
  pointer-events: none;
}