div.home-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
}

img.logotype {
  width: 45vw;
  position: absolute;
  top: 10%;
  right: 24%;
  z-index: 0;
}

embed.fox {
  width: 87%;
  z-index: 1;
  margin: 35% auto 3%;
}

button {
  background-color: #b3a78f;
  color: #faf6f2;
  font-size: 1.1em;
  border: none;
  padding: 10px 20px;
  font-family: 'Henny Penny', cursive;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

div.home-screen p {
  color: #cd675b;
  padding: 0;
  margin: 0 0 11%;
}

div.home-screen button {
  position: relative;
  margin: 0 auto;
}