@import url('https://fonts.googleapis.com/css?family=Henny+Penny&display=swap');

html, body {
  padding: 0;
  border: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url(./Assets/Images/bg-texture.png);
  font-family: 'Henny Penny', cursive;
}